@inherits LayoutComponentBase

<PageTitle>Portfolio</PageTitle>
<div class="page">
    <div class="wrapper">
        <div class="sidebar">
            <LeftSidebar />
        </div>

         <div class="content-page">
            <div class="content">
                <Header />
                <article class="content px-4">
                    @Body
                </article>
            </div>
            <Footer/>
        </div>
    </div>
</div>
 <div class="rightbar-overlay"></div>
@code{

 }