@page "/personalqualities"
@inject IStringLocalizer<PersonalQualities> localizer
<PageTitle>PersonalQualities</PageTitle>

<div class="page-title-box">
    <h4 class="page-title">@localizer["pq"]</h4>
</div>
<div class="card">
    <div class="card-body">
        <div calss="row">  
            <div class="col-md-8">
                <div class="row">
                  <div class="col-md-8">
                  @localizer["pqt"]
                  </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
@code {

}
